html{
  scroll-behaviour:smooth;
}
body {
  margin:0;
  background-color: #F3F3F4;
  scroll-behaviour:smooth;
}

.logo{
     font-family: "Open Sans", sans-serif;
   font-size:30px;
  text-transform:uppercase;
   font-weight:800;
  float:left;
  top:0;
    padding:100px 0;
  /*was 30px 90px;*/
  color:black;
  rotate:-90deg;
}


.animated-paragraph {
  opacity: 0;
  transition: opacity 1s ease;
}

.nav{
  overflow:hidden;
  font-family: "Open Sans", sans-serif;
}

.nav a{
  float:right;
  color:black;
  text-align:right;
  /*was center;*/
  padding:30px 80px;
  text-decoration:none;
  font-size:18px;
  text-transform:uppercase;
  font-weight:650;
  width:50%;
  /*was 0;*/
  transition:.3s;
}

.nav a:hover{
  color:#FFDE2F;
  font-weight:500px;
  font-style:italic;
}


.cursor{
  position:fixed;
  width:50px;
  height:50px;
  border-radius:50%;
  background:blue;
  transform:translate(-50%,-50%);
  pointer-events:none;
  mix-blend-mode:difference;
  
}

.container{
  display:flex;
  /*align-items:center;*/
  height:100vh;
  overflow:hidden;
  border-radius:60px;
  background-color:black;
  margin:5px;
}


.scroll{
  white-space:nowrap;
  margin:0 2em;
}

.scroll div{
  display:flex;
  gap:2em;
}

p{
  font-size:150px;
  color:#FFFEE5;
  margin-bottom:0;
  line-height:50px;
     font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.p1{
  font-size:150px;
  color:transparent;
  margin-bottom:0;
  line-height:50px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFFEE5;
}

.RightToLeft{
  animation:RightToLeft 15s infinite linear;
}

@keyframes RightToLeft{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-50%);
  }
}

.LeftToRight{
  animation: LeftToRight 18s infinite linear;
}

@keyframes LeftToRight{
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0%);
  }
}


.hello{
  font-size:18px;
  text-align: center;
  justify-content:center;
  align-items:center;
  font-family: "Open Sans", sans-serif;
  font-weight:800;
  position:absolute;
 left:32%;
  top:125%;
  /*was 102%;*/
}

#pagecontainer1{
  height:70vh;
  background-color: #F3F3F4;
}

.redcircle{
    width:30px;
  height:30px;
  background-color:blue;
  border-radius:100%;
  position:relative;
  top:39%;
  left:1%;
  
}

.aboutme{
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:100px;
  color:black;
  text-align:left;
   padding: 110px 75px;
  /*padding was padding:50px 0;*/
letter-spacing:10%;
  width:30%;
}

.hr{
  width: 90%;
            height: 5px;
            border-top: 5px solid black;
            line-height: 80%;
 position:relative;
  top:10%;
}
  .pagecontainer2{
  background-color: #F3F3F4;
  height:100vh;
    border-radius:50px;
  margin:10px;
        perspective: 1000px;
        justify-content: center;
        align-items: center;
    
}

.grid-container{
  width:50%;
  height:100vh;
  float: right;
  border:solid;
  border-color:black;
  border-radius:25px;
  border-weight:0.5px;
}
h1{
  color:black;
    font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size:80px;
   margin:50px;
  font-size:50px;
}
h4{
  color:black;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  width:80%;
  margin:50px;
  line-height: 200%;
}
h3{
    font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
   margin:50px;
  font-weight: 600;
   font-size:25px;
}

.language{
  position:absolute;
  left:70%;
   font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-size:25px;
  bottom:40%;
  font-weight:600;
}

.english{
  position:absolute;
  left:70%;
  bottom:29.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size:16px;
}

/*cube on second page section*/
    #cube {
          width: 200px;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 20%;
    transform-style: preserve-3d;
    }

   .side {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color:black;
     font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
     transition:.2s;
}

   .front { transform: translateZ(100px); }
.back { transform: rotateY(180deg) translateZ(100px); }
.top { transform: rotateX(90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }
.left { transform: rotateY(-90deg) translateZ(100px); }
.right { transform: rotateY(90deg) translateZ(100px); }



.top:hover {
     background-color:yellow;
  color:black;
}
.bottom:hover{
     background-color:orange;
}

.left:hover{
     background-color:#D8F8FF;
  color:black;
}

.right:hover{
     background-color:#807DFF;
}
.back:hover{
     background-color:blue;
}
.front:hover{
     background-color:#C7FFB4;
  color:black;
}
/*cube on second page section*/


.contentcontainer2{
  height:250px;
    width:800px;
  background-color:#F3F3F4;
  border-radius:25px;
    position:absolute;
  left:5%;
  top:160%
}

.info{
  font-size:20px;
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color:black;
  margin: auto;
  width:80%;
  padding: 70px 0;
  position:absolute;
  left:10%;

}


#pagecontainer3{
   height:80vh;
  background-color: #F3F3F4;
}

.hr2{
  width: 90%;
  height: 5px;
  border-top: 5px solid black;
  line-height: 80%;
 position:relative;
  top:10%;
  float:right;
}

.circle{
  width:30px;
  height:30px;
  background-color:#FFDE2F;
  border-radius:100%;
  float:right;
  position:relative;
  top:43%;
  right:1%;
}

.selectedworks{
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:80px;
  color:black;
  text-align:right;
     padding: 200px 75px;
  /*padding was padding:50px 0;*/
  letter-spacing:10%;
  width:30%;
  float:right;
   
}

.lastcontainer{
  width:100%;
  height:100vh;
  overflow:hidden;
  border-radius:50px;
  margin:30px 5px;
  
}

.totalbox{
  width:90%;
  height:100vh;
  display:flex;
  padding:70px;
}

.box{
  position:relative;
  width:25vw;
  height:100vh;
  overflow:hidden;
  border-bottom-length: 100px;
    border-bottom-color: white;    
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


.image-cover{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background: #E0DFD8;
  transition:1s cubic-bezier(0.075,0.82,0.165,1);
}

.image-cover2{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background: #E0DFD8;
  transition:1s cubic-bezier(0.075,0.82,0.165,1);
}

.box-wrapper:hover .image-cover{
  left:-100%;
}

.box-wrapper:hover .image-cover2{
  left:-100%;
}
.box .image3{
   position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  transform: scale(1.5);
  transition: 2s cubic-bezier(0.075,0.82,0.165,1);
}

.box .image1{
  position:absolute;
  width:180%;
  height:100%;
  object-fit:cover;
  transform: scale(1.5);
  transition: 2s cubic-bezier(0.075,0.82,0.165,1);
}

.box-wrapper:hover .image1{
  transform: scale(1);
}

.box .image2{
  position:absolute;
  width:185%;
  height:95%;
  object-fit:cover;
  transform: scale(1.5);
  transition: 2s cubic-bezier(0.075,0.82,0.165,1);
}

.box-wrapper:hover .image2{
  transform: scale(1);
}

.box-wrapper:hover .image3{
  transform: scale(1);
}

.box .image4{
  position:absolute;
  width:185%;
  height:95%;
  object-fit:cover;
  transform: scale(1.5);
  transition: 2s cubic-bezier(0.075,0.82,0.165,1);
  background-color:white;
}

.box-wrapper:hover .image4{
  transform: scale(1);
}

.box .image5{
  position:absolute;
  width:185%;
  height:95%;
  object-fit:cover;
  transform: scale(1.5);
  transition: 2s cubic-bezier(0.075,0.82,0.165,1);
  background-color:white;
}

.box-wrapper:hover .image5{
  transform: scale(1);
}

.workname-copy{
  position:absolute;
  width:60%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  padding:25em 3em;
  text-transform:uppercase;
  line-height: 60px;
  color:black;
  z-index:2;
  transition:0.8s cubic-bezier(0.075,0.82,0.165,1);
}

.work-name{
  font-size:25px;
  rotate:-90deg;
  text-align:left;
  padding:100px;
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 90%;
  letter-spacing:8%;
}

.box-wrapper:hover .workname-copy{
  color:transparent;
}

.box-wrapper:hover .numbers{
  color:#FFD954;
   position:absolute;
  top:5%;
  left:10%;
}

.numbers{
  color:black;
  font-size:150px;
   display:flex;
  position:absolute;
  top:10%;
  left:30%;
   transition:0.8s cubic-bezier(0.075,0.82,0.165,1);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#interestedpage{
  height:30vh;
  width:100%;
  padding:50px 0;
}
  .interested{
  font-family:"Poppins", sans-serif;
  font-size:20px;
    font-weight:600;
    text-align:center;
    position:relative;
    top:50%;
    text-decoration: underline;
}

#lastpage1{
  height:10vh;
  background-color:#F3F3F4;

}

.lastscroll{
  white-space:nowrap;
  margin:0 3em;
    overflow:hidden;
}

.lastscroll div{
  display:flex;
  gap:2em;
}

.p2{
  font-size:35px;
  color:grey;
  margin-bottom:0;
  line-height:50px;
   font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: grey;
  margin:10px;
}

.arrow{
  text-align:center;
  padding:50px;
  transition: transform 0.3s ease-in-out;
}

.arrow:nth-child(1) {
  transform-origin: center bottom;
}

.arrow:nth-child(2) {
  transform-origin: center bottom;
}

.arrow:nth-child(3) {
  transform-origin: center bottom;
}

svg{
  padding:1rem;
}

#contactpage{
  background-color:black;
  height:50vh;
  width:85%;
  justify-content:center;
  border-radius:50px;
  position:relative;
  left:8%;
font-family: "Poppins", sans-serif;
}
.link{
  word-spacing:50px;
  position:absolute;
  bottom:10%;
}
.instagram{
  transition:1.5s;
  color:white;
  font-size:25px;
    transition:.5s;
  opacity:50%;
    position:absolute;
  bottom:27%;
  left:4%;
}

.email{
  transition:1.5s;
  color:white;
  font-size:25px;
    transition:.5s;
  opacity:50%;
   position:absolute;
  bottom:44%;
  left:4%;
}

.linkedin{
  color:white;
  font-size:25px;
    transition:.5s;
  opacity:50%;
    position:absolute;
  bottom:11%;
  left:4%;
}

.contactcircle{
  width:180px;
  height:180px;
  border-radius:100%;
  background-color:white;
  font-size:23px;
  float:right;
  position:relative;
  top:42%;
  right:2%;
  border:solid;
  border-color:white;
  font-weight:700;
  transition:1s;
}
.getintouch{
  font-size:90px;
  color:white;
  text-align:center;
  opacity:50%;
  border:0;
   font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding:10px 0;
  transition:1s;
  position:relative;
  top:10%;
  left:-16%;
}

.getintouch:hover{
  font-style:italic;
   padding:2rem;
  color:white;
  opacity:100%;
}

.email:hover{
  color:white;
  opacity:100%;
  font-weight:600;
  font-size:28px;
}

.linkedin:hover{
  color:white;
  opacity:100%;
   font-size:28px;
  font-weight:600;
}

.instagram:hover{
  color:white;
  opacity:100%;
   font-size:28px;
  font-weight:600;
}

.contactcircle:hover{
  font-size:28px;
   padding:1rem;
  color:white;
  background-color:black;
  border-color:white;
  border:solid;
}